@charset "utf-8";

/* CSS Reset, Personal Reset_Yu Bomi*/

/* Personal Reset */
.my {border: 1px solid red;}

.clearfix{
	*zoom:1;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.left{float: left;}
.right{float: right;}
.table{display: table;}
.cell{display: table-cell;}
.hidden{display: none;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.w100{width: 100%; max-width: 768px; box-sizing: border-box; margin: 0 auto; padding: 0;}
.box{padding-left: 20px; padding-right: 20px; box-sizing: border-box;}

.dis-bl{display: block;}
.dis-inbl{display: inline-block;}

.pa{padding: 20px;}
.pari{padding-right: 20px!important;}
.pale{padding-left: 20px;}
.patop-1{padding-top: 10px;}
.pabo-1{padding-bottom: 10px;}
.patop{padding-top: 25px;}
.patop-15{padding-top: 15px;}
.patop-30{padding-top: 30px;}
.pabo{padding-bottom: 25px;}
.pabo-15{padding-bottom: 15px;}
.pabo-30{padding-bottom: 30px;}
.patop-2x{padding-top: 50px;}
.pabo-2x{padding-bottom: 50px;}
.pa-0{padding: 0!important;}
.pabo-0{padding-bottom: 0!important;}

.ma-0{margin: 0!important;}
.ma{margin: 20px;}
.mari{margin-right: 20px;}
.male{margin-left: 20px;}
.matop{margin-top: 25px;}
.mabo{margin-bottom: 25px;}
.mabo-80{margin-bottom: 80px;}
.matop-2x{margin-top: 50px;}
.mabo-2x{margin-bottom: 50px;}
.ma-center {margin: 0 auto;}
.last-div{padding-bottom: 100px!important;}
.gray-back{background: #fafafa!important;}
.white-back{background: #fff!important;}

/* changable color area (light/dark mode) S */
.fc-999{color: #999;}
.fc-777{color: #777;}
.fc-58B{color: #58585B;}
.fc-808{color: #808284;}
.fc-333{color: #333;}
.fc-point{color: #0EBBC2;}
.fc-red{color: #FF6565!important;}
.fc-link{color: #2E9AFF!important;}
.fc-fff,.fff{color: #fff!important;}
.bg-000{background: #000!important;}

/* fixed font-size S */
.fs-10{font-size: 10px!important;}
.fs-12{font-size: 12px!important;}
.fs-14{font-size: 14px!important;}
.fs-16{font-size: 16px!important;}
.fs-18{font-size: 18px!important;}
.fs-26{font-size: 26px!important;}
.fs-30{font-size: 30px!important;}
.sub-text{font-size: 12px!important; color: #555; line-height: 1.25em; font-weight: 300; letter-spacing: 0; word-break: keep-all;}
.sub-text a{font-size: 13px!important; color: #2E9AFF; font-weight: 400;}
.exp-text{font-size: 12px!important; color: #777;}
.exp-text a{background: #E6E6E6; display: inline-block; line-height: 1; color: #C20E98; font-size: 12px!important; font-weight: 400; padding: 3px 0 2px;}

.link-text{background: #E6E6E6; display: inline-block; line-height: 1; color: #C20E98; font-size: 14px!important; font-weight: 400; padding: 3px 5px 2px;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400; color: inherit;}
.fw-500{font-weight: 500;}
.fw-700{font-weight: 700;}
.bobo-0{border-bottom: 0!important;}
.nowrap{white-space: nowrap;}
.question{font-style: italic;}

/* Personal End */